:root {
    --var-bg-app: #fff;
    --var-bg-balance-block: #fff;
    --var-shadow-balance-block: #333;
    --var-body-fc: #333;
    --var-slider-circle: #333;
    --var-bg-theme-icon: url("../../data/img/lighticon.png");
    --var-button-color: #aaa;
    --var-red: rgba(200, 0, 0, 0.5);
    --var-hover-bg: #999;
}

[dark] {
    --var-bg-app: #333;
    --var-bg-balance-block: #333;
    --var-shadow-balance-block: #fff;
    --var-body-fc: #fff;
    --var-slider-circle: #fff;
    --var-bg-theme-icon: url("../../data/img/darkicon.png");
    --var-button-color: #555;
    --var-hover-bg: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

.app {
    background: var(--var-bg-app);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.app::-webkit-scrollbar {
    display: none;
}

.username-header {
    color: var(--var-body-fc);
    text-align: center;
    margin: 25px 0 0 0;
}

.balance {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.balance-block {
    padding: 10px 25px;
    background: var(--var-bg-balance-block);
    box-shadow: var(--var-shadow-balance-block) 0 0 20px, var(--var-shadow-balance-block) 0 0 20px;;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-balance {
    color: var(--var-body-fc);
    width: 100%;
    text-align: start;
    padding: 5px;
}

.button {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    background: var(--var-button-color);
    color: var(--var-body-fc);
}

.header-buttons {
    display: flex;
}

.button:hover {
    background: inherit;
}

.plus {
    background: rgba(80, 255, 90, 0.7);
}

.transactions {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

.transaction {
    color: var(--var-body-fc);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: max-content;
    animation: ani 0.4s;
}

.minus {
    background: rgba(255, 90, 80, 0.7);
}

.transaction-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transform: scale(0);
    transition: 0.4s;
}

.transaction-modal.active {
    transform: scale(1);
}

.transaction-modal-content {
    position: relative;
    background: var(--var-bg-app);
    box-shadow: var(--var-shadow-balance-block) 0 0 10px, var(--var-shadow-balance-block) 0 0 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.transaction-modal-header {
    color: var(--var-body-fc);
    text-align: center;
    margin: 5px;
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button.logout {
    width: min-content;
    position: absolute;
    background: none;
    top: 5px;
    left: 5px;
}

.logout-button-image {
    fill: var(--var-body-fc);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.auth-or-register {
    display: flex;
}

.circles {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
}

.circle {
    border: 2px solid var(--var-slider-circle);
    border-radius: 50%;
    background: var(--var-bg-app);
    padding: 5px;
    margin: 5px;
    transition: 0.3s;
}

.circle.fill {
    background: var(--var-slider-circle);
}

.circle.err {
    border: 2px solid var(--var-red);
}

.button.modal {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.button.modal.username {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    margin-top: 10px;
}

@keyframes ani {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}