.button.menu {
    width: max-content;
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--var-bg-app);
}

.line {
    background: var(--var-shadow-balance-block);
    padding: 1px;
    margin-top: 2px;
    width: 15px;
}

.line.active1 {
    transform: translateY(2px)  rotate(45deg);
}

.line.active2 {
    transform: translateY(-2px)  rotate(-45deg);
}

.main-menu {
    position: absolute;
    top: 40px;
    left: 55px;
    transform: scale(0);
    z-index: 1;
    background: var(--var-bg-app);
    border-radius: 10px;
    box-shadow: var(--var-shadow-balance-block) 0 0 5px, var(--var-shadow-balance-block) 0 0 5px;
    transition: 0.3s ease;
    animation: active 0.3s;
}

.main-menu-item {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: inherit;
    display: flex;
    align-items: center;
    border: none;
    color: var(--var-body-fc);
}

.main-menu-item:hover {
    background: var(--var-hover-bg);
}

.main-menu.active {
    transform: scale(1);
}