.button.menu {
    width: max-content;
    position: absolute;
    top: 40px;
    left: 5px;
    display: none;
}

.main-menu {
    position: absolute;
    top: 80px;
    left: 75px;
    transform: scale(0);
    z-index: 1;
    background: var(--var-bg-app);
    border-radius: 10px;
    box-shadow: var(--var-shadow-balance-block) 0 0 5px, var(--var-shadow-balance-block) 0 0 5px;
    transition: 0.3s ease;
    animation: active 0.3s;
}

.main-menu-item {
    width: max-content;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--var-body-fc);
}

.main-menu-item:hover {
    background: var(--var-hover-bg);
}

.main-menu.active {
    transform: scale(1);
}