.transaction-modal-input {
    /*padding: 10px;*/
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.75);
    box-shadow: var(--var-shadow-balance-block) 0 0 5px, var(--var-shadow-balance-block) 0 0 5px;
    transition: 0.3s;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.transaction-modal-input.username {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.transaction-modal-input:focus {
    outline: none;
}

.transaction-modal-input::-webkit-inner-spin-button {
    display: none;
}

/*.transaction-modal-input.err {*/
/*    border: 2px solid rgba(200, 0, 0, 0.5);*/
/*}*/